{{ if .Site.Params.options.darkMode -}}
  {{ $darkModeInit := resources.Get "js/darkmode-init.js" | js.Build | minify -}}
  <script>{{ $darkModeInit.Content | safeJS }}</script>
{{ end -}}
{{- if and (.Site.Params.alert) (.Site.Params.alertDismissable) -}}
  {{ $alertInit := resources.Get "js/alert-init.js" | js.Build | minify -}}
  <script>{{ $alertInit.Content | safeJS }}</script>
{{- end -}}
{{ if eq (.Site.BaseURL) "https://docs.atsign.com" -}}
  {{ $matomo := resources.Get "js/matomo.js" | js.Build | minify -}}
  <script>{{ $matomo.Content | safeJS }}</script>
{{ end -}}