<div class="footer">
    <div class="footer-logo">
        {{ $image := resources.Get "img/branding/dark/atsign-dark.png" }}
        {{ with $image }}
            <img class="toggle-light" src="{{ .RelPermalink }}" width="124em">
        {{ end }}

        {{ $image := resources.Get "img/branding/light/atsign-light.svg" }}
        {{ with $image }}
            <img class="toggle-dark" src="{{ .RelPermalink }}" width="124em">
        {{ end }}
    </div>
    <div class="footer-terms">
        <a href="https://atsign.com/terms-conditions">Terms and Conditions</a>
        <a href="https://atsign.com/privacy-policy">Privacy Policy</a>
    </div>
    <div class="footer-copy">
        © 2022 Atsign
    </div>
    <div class="footer-free">
        This is a cookie-free site
    </div>
    <div class="footer-body">
        <p>
            Learn more about us at <a href="https://atsign.com">atsign.com</a>
        </p>
        <p>
            To get or manage atSigns, please visit the <a href="https://my.atsign.com/go">Registrar</a>
        </p>
        <p>
            For general inquiries, email us: <a href="mailto:info@atsign.com">info@atsign.com</a>
        </p>
    </div>
    <div class="footer-social">
        <a target="_blank" href="https://wavi.ng/@wavi">
            {{ $image := resources.Get "img/footer-logos/wavi.webp" }}
            {{ with $image }}
                <img src="{{ .RelPermalink }}" height="48em">
            {{ end }}
        </a>
        <a target="_blank" href="https://linkedin.com/company/atsigncompany/">
            {{ $image := resources.Get "img/footer-logos/linkedin.webp" }}
            {{ with $image }}
                <img src="{{ .RelPermalink }}" height="48em">
            {{ end }}
        </a>
        <a target="_blank" href="https://twitter.com/atsigncompany">
            {{ $image := resources.Get "img/footer-logos/twitter.webp" }}
            {{ with $image }}
                <img src="{{ .RelPermalink }}" height="48em">
            {{ end }}
        </a>
        <a target="_blank" href="https://www.youtube.com/c/AtsignCo">
            {{ $image := resources.Get "img/footer-logos/youtube.webp" }}
            {{ with $image }}
                <img src="{{ .RelPermalink }}" height="48em">
            {{ end }}
        </a>
    </div>
</div>