<ul class="nav flex-column flex-lg-row ms-md-n3">
  {{ range .Site.Menus.main -}}
    {{ if .HasChildren }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle ps-0 py-1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ .Name }}
          <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-main shadow rounded border-0" aria-labelledby="navbarDropdownMenuLink">
          {{ range .Children -}}
            <li>
              <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
          {{ end -}}
        </ul>
      </li>
    {{ else }}
      <li class="nav-item">
        <a class="nav-link ps-0 py-1" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
      </li>
    {{ end }}
  {{ end -}}
</ul>