/* OpenSans-regular - latin */
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("webfonts/OpenSans/OpenSans-400.ttf") format("truetype");
}

/* OpenSans-500 - latin */
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("webfonts/OpenSans/OpenSans-500.ttf") format("truetype");
}

/* OpenSans-700 - latin */
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("webfonts/OpenSans/OpenSans-700.ttf") format("truetype");
}

/* OpenSans-italic - latin */
@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("webfonts/OpenSans/OpenSans-400-Italic.ttf") format("truetype");
}

/* OpenSans-500italic - latin */
@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("webfonts/OpenSans/OpenSans-500-Italic.ttf") format("truetype");
}

/* OpenSans-700italic - latin */
@font-face {
  font-family: OpenSans;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("webfonts/OpenSans/OpenSans-700-Italic.ttf") format("truetype");
}
