// min-width
.min-w-250 {
  min-width: 250px !important;
}
.min-w-300 {
  min-width: 300px !important;
}
.min-w-400 {
  min-width: 400px !important;
}
.min-w-500 {
  min-width: 500px !important;
}
.min-w-750 {
  min-width: 750px !important;
}

.full-width-content {
  width: calc(100% - 4em);
  margin: auto 2em;

  .justify-content-center {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
  }

}

.card-grid {
  display: grid;
  gap: 1em;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  justify-content: space-evenly;
}