// Replace the ugly pink color with our orange
.btn-menu:hover,
.btn-doks-light:hover,
.doks-sidebar-toggle:hover {
  background: $primary;
}

// Code block highlighted text color
[data-dark-mode] body .hljs-string,
[data-dark-mode] body .hljs-variable,
[data-dark-mode] body .hljs-template-variable,
[data-dark-mode] body .hljs-symbol,
[data-dark-mode] body .hljs-bullet,
[data-dark-mode] body .hljs-section,
[data-dark-mode] body .hljs-addition,
[data-dark-mode] body .hljs-attribute,
[data-dark-mode] body .hljs-link {
  color: $highlight;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-symbol,
.hljs-bullet,
.hljs-section,
.hljs-addition,
.hljs-attribute,
.hljs-link {
  color: $primary;
}

// Copy button colors
pre .btn-copy {
  color: $color-btn-text;
  background-color: $color-btn-bg;
  border-color: $color-btn-border;
}

[data-dark-mode] .btn-copy {
  color: $color-btn-text-dark;
  background-color: $color-btn-bg-dark;
  border-color: $color-btn-border-dark;
}

[data-dark-mode] .btn-copy:hover {
  color: $color-btn-text-dark;
  background-color: darken($color-btn-bg-dark, 5%);
  border-color: darken($color-btn-border-dark, 15%);
}

[data-dark-mode] .btn-copy:focus,
[data-dark-mode] .btn-copy:active,
[data-dark-mode] .btn-copy.active {
  color: $color-btn-text-dark;
  background-color: $color-btn-bg-dark;
  border-color: darken($color-btn-border-dark, 15%);
}

[data-dark-mode] .btn-copy::after,
[data-dark-mode] .btn-copy:hover::after,
[data-dark-mode] .btn-copy:focus::after,
[data-dark-mode] .btn-copy:active::after {
  color: $color-btn-text-dark;
}


// Adjustments for fa icons
i.fas,
i.fa-solid {
  font-style: normal;
}

.btn i.fas,
.btn i.fa-solid {
  margin-left: 0.5em;
}

// Button colors
.btn-primary {
  color: $white;
}

.btn-primary:hover {
  color: $white;
  background-color: darken($primary, 2.5%);
}

.btn-secondary {
  background-color: $secondary;
}

[data-dark-mode] .btn-secondary {
  color: $gray-100;
  background-color: $gray-700;
  border-color: $gray-700;
}

[data-dark-mode] .btn-secondary:hover {
  background-color: darken($gray-700, 2.5%);
  border-color: darken($gray-700, 2.5%);
}

// Background for showcase cards
.bg-secondary {
  background-color: $secondary;
}

[data-dark-mode] .bg-secondary {
  background-color: $gray-700;
}